:root{
    --bg-color: #18181b;
    --border-color: #3f3f46;
    --bg-text-light: #fefefe;

    --purple-50: #fbf5fe;
    --purple-100: #f6eafd;
    --purple-200: #ecd5f9;
    --purple-300: #dfb3f4;
    --purple-400: #ce86ec;
    --purple-500: #b657de;
    --purple-600: #9b37c2;
    --purple-700: #802a9d;
    --purple-800: #6d2583;
    --purple-900: #5c236c;
    --purple-950: #390b47;

    --blue-50: #effbfc;
    --blue-100: #d8f2f5;
    --blue-200: #b5e5ec;
    --blue-300: #82d1de;
    --blue-400: #48b4c8;
    --blue-500: #2c98ae;
    --blue-600: #2a849d;
    --blue-700: #266478;
    --blue-800: #275463;
    --blue-900: #244755;
    --blue-950: #132d39;

    --green-50: #f3faeb;
    --green-100: #e3f4d3;
    --green-200: #c8eaac;
    --green-300: #a6db7b;
    --green-400: #85ca51;
    --green-500: #67af33;
    --green-600: #589d2a;
    --green-700: #3d6a21;
    --green-800: #33551f;
    --green-900: #2d491e;
    --green-950: #15270c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--bg-text-light);
    font-size: 1.3rem;
}

#appWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    padding: 1rem;
    max-width: 1200px;
}

/* #################### Configuracion #################### */

#configWrapper{
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.config_item{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* #################### Resultados #################### */

#resultWrapper{
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.cromosomaWrapper{
    max-width: 1100px;
    word-wrap: break-word;
    margin-bottom: 1rem;
}

.gen_x{
    color: var(--blue-300);
}

.gen_y{
    color: var(--green-300);
}

/* #################### Estilo inputs #################### */

.input_item input{
    background-color: var(--purple-950);
    border: 1px solid var(--purple-900);
    border-radius: 5px;
    color: var(--bg-text-light);
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

.input_item input::placeholder{
    color: var(--purple-900);
}

.input_item input:focus{
    border: 1px solid var(--purple-500);
    outline: none;
}

/* #################### Estilo buttons #################### */

.btn_wrapper{
    content: "";
}

.btn_primary{
    transition: background-color ease .3s;
    background-color: transparent;
    border: 1px solid var(--purple-300);
    border-radius: 8px;
    color: var(--purple-300);
    font-size: 1rem;
    outline: none;
    padding: 8px 16px;
}

.btn_primary:hover, .btn_primary:active{
    background-color: var(--purple-950);
}